#main{
    height: 100vh;
}

.hidden{
    display: none;
}

.caption p{
    line-height: 1.0em;
}

.message{
    font-size: 1.2em;
}

.card{
    width: 250px;
    height: 350px;
    font-size: 10.0em;
    font-weight: 600;
    color: linear-gradient(135deg, #9eeb9e, #8aece9);
    background: #fff;
};
